/**
  * UB-RIA-UI 1.0
  * Copyright 2014 Baidu Inc. All rights reserved.
  *
  * @ignore
  * @file 富选择器
  * @author lixiang
  */

@esui-richselector-font-size: 14px;
@esui-richselector-border-color: #EBEBEB;
@esui-richselector-border: 1px solid @esui-richselector-border-color;
@esui-richselector-line-height: 2em;

@esui-richselector-head-height: 2em;
@esui-richselector-head-bg: #EBEBEB;
@esui-richselector-head-border-bottom-color: #EBEBEB;
@esui-richselector-head-border-bottom: 1px solid @esui-richselector-head-border-bottom-color;
@esui-richselector-batch-action-link-color: #67C1A5;
@esui-richselector-head-title-color: #333;
@esui-richselector-head-count-color: #999;

@esui-richselector-query-result-bg: #FEF9D4;
@esui-richselector-clear-query-link-color: #6CCDC0;
@esui-richselector-search-count-color: #666;

@esui-richselector-body-bg: #FCFCFC;

@esui-richselector-foot-bg: #F9F9F9;
@esui-richselector-foot-color: #666;


.@{ui-class-prefix}-richselector {
    font-size: @esui-richselector-font-size;
    .box-sizing(border-box);
    border: @esui-richselector-border;
    display: inline-block;
}

.@{ui-class-prefix}-richselector-head {
    height: @esui-richselector-head-height;
    line-height: @esui-richselector-head-height;
    padding: 0 0.75em;
    border-bottom: @esui-richselector-head-border-bottom;
    background: @esui-richselector-head-bg;

    h3 {
        font-size: @esui-richselector-font-size;
        margin: 0;
        padding: 0;
        font-weight: bold;
        float: left;
        color: @esui-richselector-head-title-color;
        line-height: @esui-richselector-head-height;
    }
}

.@{ui-class-prefix}-richselector-batch-action-link {
    float: right;
    text-decoration: none;
    cursor: pointer;
    color: @esui-richselector-batch-action-link-color;
}

.@{ui-class-prefix}-richselector-head-count {
    font-weight: bold;
    color: @esui-richselector-head-count-color;
}

.@{ui-class-prefix}-richselector-body {
    overflow-x: hidden;
    clear: both;
    background: @esui-richselector-body-bg;
}

.@{ui-class-prefix}-richselector-search-wrapper {
    height: 2em;
    padding: 0.75em;
}

.@{ui-class-prefix}-richselector-search-count {
    color: @esui-richselector-search-count-color;
    font-weight: bold;
}

// 搜索结果概要
.@{ui-class-prefix}-richselector-query-result-general {
    background: @esui-richselector-query-result-bg;
    height: 2em;
    line-height: 2em;
    padding: 0 0.75em;
    display: none;
}

.@{ui-class-prefix}-richselector-clear-query-link {
    text-decoration: none;
    color: @esui-richselector-clear-query-link-color;
    cursor: pointer;
    line-height: 2em;
    float: right;
}


.@{ui-class-prefix}-richselector-content-wrapper {
    overflow-y: auto;
    overflow-x: hidden;
}

.@{ui-class-prefix}-richselector-empty-text {
    padding: 0.75em;
    display: none;
    text-align: center;
}

.@{ui-class-prefix}-richselector-foot {
    color: @esui-richselector-foot-color;
    height: 2em;
    line-height: 2em;
    background: @esui-richselector-foot-bg;
    padding: 0 0.75em;
}

// 搜索状态
.@{ui-class-prefix}-richselector-queried {
    .@{ui-class-prefix}-richselector-query-result-general {
        display: block;
    }
}

// 无结果状态
.@{ui-class-prefix}-richselector-empty {
    .@{ui-class-prefix}-richselector-empty-text {
        display: block;
    }

    .@{ui-class-prefix}-richselector-query-list {
        display: none;
    }

    .@{ui-class-prefix}-richselector-query-result-general {
        display: none;
    }
}
