@import "../../src/css/Carousel.less";

@esui-carousel-toolbar-pageColor: #ddd;
@esui-carousel-toolbar-currentPageColor: @esf-palette-primary-color;

@esui-carousel-selected-color: @esf-palette-primary-color;
@esui-carousel-selected-text-color: @esf-palette-white;
@esui-carousel-item-border-width: 4px;
@esui-carousel-item-border: @esui-carousel-item-border-width solid @esf-palette-white;
@esui-carousel-item-selected-border: @esui-carousel-item-border-width solid @esui-carousel-selected-color;
@esui-carousel-pointer-color: @esf-palette-primary-color;
@esui-carousel-pointer-hover-color: lighten(@esui-carousel-pointer-color, 5%);
@esui-carousel-pointer-active-color: darken(@esui-carousel-pointer-color, 10%);
