.esui-progress {
    display: block;
}

@esui-progress-container-width: 120px;

.@{ui-class-prefix}-progress-file-info {
    .inline-block();

    .@{ui-class-prefix}-progress-file-name {
        overflow: hidden;
        width: @esui-progress-container-width;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: bold;
        padding: 0;
        .inline-block();
    }

    .@{ui-class-prefix}-progress-file-size {
        float: left;
        color: #999;
    }
}

.@{ui-class-prefix}-progress-card {
    width: @esui-progress-container-width;
    padding: 5px;
    margin: 10px;
    float: left;
    border: 1px solid #fff;

    .@{ui-class-prefix}-progress-image-template{
        img {
            width: 120px;
            height: 120px;
        }
    }
}

.@{ui-class-prefix}-progress-list {
    .@{ui-class-prefix}-progress-image-template{
        float: left;
        width: 60px;
        img {
            width: 60px;
            height: 60px;
        }
    }

    .@{ui-class-prefix}-progress-file-info {
        .@{ui-class-prefix}-progress-file-name {
            float: left;
            width: 350px;
        }
        float: left;
    }

    .@{ui-class-prefix}-progress-status {
        float: right;
    }
} 

.@{ui-class-prefix}-progress-preview-reading {
    opacity: .5;
}

.@{ui-class-prefix}-progress-status-info {
    vertical-align: middle;
    width: 100%;
}

.@{ui-class-prefix}-progress-status-operation {
    .inline-block();
    vertical-align: middle;
}

// 进度条
.@{ui-class-prefix}-progress-bar-container {
    // 这个因为esf把progress bar设置为float，得清除下浮动
    .clearfix();
    .@{ui-class-prefix}-progress-server-error & ,
    .@{ui-class-prefix}-progress-client-error & ,
    .@{ui-class-prefix}-progress-done &,
    .@{ui-class-prefix}-progress-general & {
        display: none;
    }

    .@{ui-class-prefix}-progress-bar {
        white-space: nowrap;
    }
}

// 结果提示
.@{ui-class-prefix}-progress-result {
    display: none;

    .@{ui-class-prefix}-progress-client-error &,
    .@{ui-class-prefix}-progress-server-error & {
        display: block;
        color: #f00;
    }
    .@{ui-class-prefix}-progress-done &,
    .@{ui-class-prefix}-progress-general & {
        display: block;
        color: #00f;
    }
}

// 取消上传按钮
.@{ui-class-prefix}-progress-cancel {
    display: none;

    // 错误时和上传进行中时显示
    .@{ui-class-prefix}-progress-server-error &,
    .@{ui-class-prefix}-progress-client-error &,
    .@{ui-class-prefix}-progress-progressing & {
        .inline-block();
    }
}
