/**
 * UB-RIA UI Library
 * Copyright 2014 Baidu Inc. All rights reserved.
 *
 * @file Spinner样式
 * @author maoquan(maoquan@baidu.com), jiangyuan(jiangyuan01@baidu.com)
 */

@esui-spinner-border-color: #CCC;
@esui-spinner-border-width: 1px;
@esui-spinner-border-hover-color: #6CCDC0;
@esui-spinner-border: @esui-spinner-border-width solid @esui-spinner-border-color;
@esui-spinner-border-hover: @esui-spinner-border-width solid @esui-spinner-border-hover-color;

@esui-spinner-border-radius: 5px;

@esui-spinner-btn-color: #444;
@esui-spinner-btn-bg-color: #DDD;
@esui-spinner-btn-hover-bg-color: #CCC;
@esui-spinner-btn-active-bg-color: #BBB;

.@{ui-class-prefix}-spinner {
    position: relative;
    border: @esui-spinner-border;
    .border-radius(@esui-spinner-border-radius);

    input {
        vertical-align: middle;
        border: none;
        padding-left: 0.5em;
        .box-sizing(border-box);
        .border-left-radius(@esui-spinner-border-radius);

        &:focus {
            outline: none;
        }
    }
}

.@{ui-class-prefix}-spinner-focus,
.@{ui-class-prefix}-spinner:hover {
    border: @esui-spinner-border-hover;
}

.@{ui-class-prefix}-spinner-up,
.@{ui-class-prefix}-spinner-down {
    .eicons-font-style();
    font-size: .8em;
    position: absolute;
    right: 0;
    width: 1.2em;
    height: 50%;
    padding: 0;
    margin: 0;
    text-align: center;
    cursor: default;
    color: @esui-spinner-btn-color;
    background: @esui-spinner-btn-bg-color;

    &:hover {
        background: @esui-spinner-btn-hover-bg-color;
    }

    &:active {
        background: @esui-spinner-btn-active-bg-color;
    }
}

.@{ui-class-prefix}-spinner-up {
    top: 0;
    .eicons-icon(caret-up);
    .border-top-right-radius(@esui-spinner-border-radius);
}

.@{ui-class-prefix}-spinner-down {
    bottom: 0;
    .eicons-icon(caret-down);
    .border-bottom-right-radius(@esui-spinner-border-radius);
}
