/**
  * SSP for WEB
  * Copyright 2014 Baidu Inc. All rights reserved.
  *
  * @ignore
  * @file 可展开收起的选择控件包装样式
  * @author lixiang
  */
.ui-toggle-selector {
    .ui-togglepanel-title {
        .ui-toggle-select();
        margin: 0;
        font-size: 13px;
        width: 137px;
        .ellipsis();
        display: block;
    }
}

@toggle-select-layer-state-indicator-width: 9px;
@toggle-select-layer-state-indicator-height: 5px;
@toggle-select-layer-state-indicator: url(../img/esui-combo-arrow-normal.png);
@toggle-select-layer-state-indicator-hover: url(../img/esui-combo-arrow-hover.png);
@toggle-select-layer-state-indicator-active: url(../img/esui-combo-arrow-active.png);
@toggle-select-layer-state-indicator-disabled: url(../img/esui-combo-arrow-normal.png);

@toggle-select-font-color: #666;
@toggle-select-border: none;
@toggle-select-width: auto;
@toggle-select-height: 12px;

// Select
@toggle-select-background-color: #ebebeb;
@toggle-select-background-color-hover: #ebebeb;
@toggle-select-background-color-active: #ebebeb;
@toggle-select-background-color-disabled: #ebebeb;

@toggle-select-height: 30px;

@toggle-select-padding-left: 18px;
// select实际右侧内边距
//     = 2倍左侧内边距（保证图标距离文字和右侧外边缘距离相同）+ 图标宽度
@toggle-select-padding-right: 2 * @toggle-select-padding-left + @toggle-select-layer-state-indicator-width;
@toggle-select-padding: 0 @toggle-select-padding-right 0 @toggle-select-padding-left;

.ui-toggle-select {
    background: @toggle-select-background-color;
    border: @toggle-select-border;
    border-radius: 0;
    height: @toggle-select-height;
    line-height: @toggle-select-height;
    padding: @toggle-select-padding;
    width: @toggle-select-width;
    color: @toggle-select-font-color;
    font-weight: bold;
    text-align: center;
    // TODO: 这里的left和10px是否需要开放配置？
    .pseudo-icon(@toggle-select-layer-state-indicator, @toggle-select-layer-state-indicator-width, @toggle-select-layer-state-indicator-height, right, @toggle-select-padding-left);
}

.ui-toggle-select:focus,
.ui-toggle-select:hover {
    background: @toggle-select-background-color-hover;
    .pseudo-icon(@toggle-select-layer-state-indicator-hover, @toggle-select-layer-state-indicator-width, @toggle-select-layer-state-indicator-height, right, @toggle-select-padding-left);
}

.ui-toggle-select-active,
.ui-toggle-select-active:hover,
.ui-toggle-select-active:focus {
    background: @toggle-select-background-color-active;
    .pseudo-icon(@toggle-select-layer-state-indicator-active, @toggle-select-layer-state-indicator-width, @toggle-select-layer-state-indicator-height, right, @toggle-select-padding-left);
}

.ui-toggle-select-disabled,
.ui-toggle-select-read-only,
.ui-toggle-select-disabled:hover,
.ui-toggle-select-read-only:hover {
    color: #999;
    background: @toggle-select-background-color-disabled;
    .pseudo-icon(@toggle-select-layer-state-indicator-disabled, @toggle-select-layer-state-indicator-width, @toggle-select-layer-state-indicator-height, right, @toggle-select-padding-left);
}