esui-toggle-panel {
    display: block;
}

.ui-togglepanel {
    .ui-togglepanel-content {
        display: none;
    }
}

.ui-togglepanel-expanded {
    .ui-togglepanel-content {
        display: block;
    }
}