@esui-toggle-panel-close-icon: url(../img/toggle-panel-close.png);
@esui-toggle-panel-open-icon: url(../img/toggle-panel-open.png);
@esui-toggle-panel-icon-width: 9px;
@esui-toggle-panel-icon-height: 6px;

esui-toggle-panel {
    display: block;
}

.@{ui-class-prefix}-togglepanel {
    .@{ui-class-prefix}-togglepanel-content {
        display: none;
    }
}

.@{ui-class-prefix}-togglepanel-expanded {
    .@{ui-class-prefix}-togglepanel-content {
        display: block;
    }
}