/**
  * SSP for WEB
  * Copyright 2014 Baidu Inc. All rights reserved.
  *
  * @ignore
  * @file 可展开收起的选择控件包装样式
  * @author lixiang
  */
.ui-toggle-selector {
    .ui-togglepanel-title {
        .ui-select();
        margin: 0;
        font-size: 13px;
        width: 137px;
        .ellipsis();
        display: block;
    }
}