/** Tree Begin **/
// 产品线内统一
@tree-node-line-height: 33px;

@tree-node-indicator-icon-height-collapsed: 7px;
@tree-node-indicator-icon-width-collapsed: 5px;
@tree-node-indicator-icon-collapsed: url(../img/esui-open-icon.png);

@tree-node-indicator-icon-height-expanded: 5px;
@tree-node-indicator-icon-width-expanded: 7px;
@tree-node-indicator-icon-expanded: url(../img/esui-close-icon.png);

@tree-node-indicator-height: @tree-node-line-height;
@tree-node-indicator-width: 7px;
@tree-node-indicator-margin: 0px 9px 0px 4px;

// TODO：这里应该也开放出来同形式的变量
@tree-node-indicator-empty-background: none;
@tree-node-indicator-previous-background: none;
@tree-node-indicator-far-previous-background: none;

@tree-node-item-font-color: #666;

// 选中的节点
@tree-node-wrapper-background-selected: #fffaee;
@tree-node-item-font-color-selected: #333;
@tree-node-item-icon-selected: none;
// 悬浮的节点
@tree-node-wrapper-background-hover: #fffaee;
@tree-node-item-font-color-hover: #333;
@tree-node-item-icon-hover: none;

@font-icon-size: 1em;

// 系统自定

/** Tree End **/

@dialog-foot-button-height: 33px;

@drawer-action-panel-offset: 220px;


@default-border-radius: 0;
