    /** Tree Begin **/
// 产品线内统一
@tree-node-line-height: 33px;

@tree-node-indicator-icon-height-collapsed: 7px;
@tree-node-indicator-icon-width-collapsed: 5px;
@tree-node-indicator-icon-collapsed: url(../img/esui-open-icon.png);

@tree-node-indicator-icon-height-expanded: 5px;
@tree-node-indicator-icon-width-expanded: 7px;
@tree-node-indicator-icon-expanded: url(../img/esui-close-icon.png);

@tree-node-indicator-height: @tree-node-line-height;
@tree-node-indicator-width: 7px;
@tree-node-indicator-margin: 0px 9px 0px 4px;

// TODO：这里应该也开放出来同形式的变量
@tree-node-indicator-empty-background: none;
@tree-node-indicator-previous-background: none;
@tree-node-indicator-far-previous-background: none;

@tree-node-item-font-color: #666;

// 选中的节点
@tree-node-wrapper-background-selected: #fffaee;
@tree-node-item-font-color-selected: #333;
@tree-node-item-icon-selected: none;
// 悬浮的节点
@tree-node-wrapper-background-hover: #fffaee;
@tree-node-item-font-color-hover: #333;
@tree-node-item-icon-hover: none;

// 系统自定

/** Tree End **/

@dialog-foot-button-height: 33px;

@drawer-action-panel-offset: 220px;

@rich-selector-frame-border: 1px solid #ebebeb;

@rich-selector-head-bg: #ebebeb;
@rich-selector-head-border-bottom: 1px solid #ebebeb;
@rich-selector-batch-action-link-color: #67c1a5;

@rich-selector-query-result-bg: #fef9d4;
@rich-selector-clear-query-link-color: #67c1a5;

@rich-selector-line-height: 35px;

@rich-selector-body-bg: #fcfcfc;
@rich-selector-foot-bg: #f9f9f9;

// RichSelector控件单项悬浮状态
@rich-selector-item-background-color-hover: #fffaee;

// 添加型和加载型
@rich-selector-add-item-background-icon-hover: url(../img/richselector-arrow.png);
@rich-selector-add-item-background-icon-width-hover: 14px;
@rich-selector-add-item-background-icon-height-hover: 14px;

// 删除型
@rich-selector-delete-item-background-icon-hover: url(../img/richselector-delete.png);
@rich-selector-delete-item-background-icon-width-hover: 9px;
@rich-selector-delete-item-background-icon-height-hover: 9px;

// RichSelector控件单项选择状态
@rich-selector-item-background-color-selected: none;
@rich-selector-item-background-icon-selected: url(../img/richselector-selected.png);
@rich-selector-item-background-icon-width-selected: 9px;
@rich-selector-item-background-icon-height-selected: 7px;

//不可选状态
@rich-selector-item-background-color-disabled: none;

// prefix
@ui-class-prefix: ui;

// table
@ui-table-primary-color: #6ccdc0;

@link-color: @ui-table-primary-color;

@link-hover-color: @ui-table-primary-color;

@ui-table-button-color-hover: #78e6d8;
@ui-table-button-color: @ui-table-primary-color;

@ui-table-base-font-size: 12px;
@ui-table-checkbox-font-size: 14px;
@ui-table-radio-font-size: @ui-table-checkbox-font-size;
@ui-table-cell-font-size: @ui-table-base-font-size;
@ui-table-caption-font-size: @ui-table-cell-font-size;
@ui-table-caption-padding: 0 8px;
@ui-table-cell-padding: 4px 8px;
@ui-table-no-padding: 0;
@ui-table-hcell-padding: 0 8px;
@ui-table-button-padding: 2 8px;

// Region
@ui-region-font-size: 12px;
@ui-region-checkbox-font-size: 12px;
@ui-region-primary-color: #6ccdc0;